---
useCases:
  easytravel:
    previews:
    - section: Easytravel
      description: Easytravel
      url: "{{ ingress_protocol }}://easytravel.{{ ingress_domain }}"
    - section: Easytravel Angular
      description: Easytravel Angular
      url: "{{ ingress_protocol }}://easytravel-angular.{{ ingress_domain }}"
  unguard:
    previews:
    - section: Unguard
      description: Unguard
      url: "{{ ingress_protocol }}://unguard.{{ ingress_domain }}"
  
extRefs:
  Easytravel:
    url: "{{ ingress_protocol }}://easytravel.{{ ingress_domain }}"
    description: "<a href=\"{{ ingress_protocol }}://easytravel.{{ ingress_domain }}\">EasyTravel</a> is a demo application for booking travel."
  Easytravel Angular:
    url: "{{ ingress_protocol }}://easytravel-angular.{{ ingress_domain }}"
    description: "<a href=\"{{ ingress_protocol }}://easytravel-angular.{{ ingress_domain }}\">EasyTravel Angular</a> is a demo application for booking travel."
  Unguard:
    url: "{{ ingress_protocol }}://unguard.{{ ingress_domain }}"
    description: "<a href=\"{{ ingress_protocol }}://unguard.{{ ingress_domain }}\">Unguard</a> is a demo application to showcase Dynatrace AppSec capabilities."